/*
Theme Name: sandbox
Theme URI: https://acmeinc.com
Author: Hector Ovalles
Author URI: https://webdevstudios.com/
Description: Sandbox local test
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: sandbox-dev
Tags: custom

This theme, like WordPress, is licensed under the GPL.

Based on Underscores http://underscores.me/, (C) 2012-2017 Automattic, Inc.

*/

$output-bourbon-deprecation-warnings: false;
@import 'bourbon';
@import 'utilities/functions/index';
@import 'utilities/variables/index';
@import 'neat';
@import 'utilities/mixins/index';
@import 'utilities/helpers/index';
@import 'assets/bower_components/normalize-css/normalize.css';
@import 'assets/bower_components/animate.css/animate.css';

@import 'base/index';
@import 'structure/index';
@import 'modules/index';
@import 'plugins/index';
@import 'views/index';
@import 'widgets/index';

$menuHeight : 200px;
body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;

}
//content
.site-content {
  &:before {
    // content:"";
    // display: inline-table;
    // height: $menuHeight;
  }
}
//navigation
.fixed-nav {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  background: #000000;
}
.off-canvas-open, .off-canvas-container {
  display: none;
}
.site-header-wide, .site-header-centered {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 2.25em; //Width de toda la plantilla TODO
  width: 100%;
  margin: auto;
  background: #000000;
}
#site-navigation-wide {
  width:55%;
 }
 #site-navigation-centered {
   width: 100%;
   max-width: 1280px;
   margin: auto;
  transition: all .5s ease-in-out;
 }

 // .headroom {
 //     position: fixed;
 //     top: 0;
 //     left: 0;
 //     right: 0;
 //     transition: all .5s ease-in-out;
 // }
 // .headroom--unpinned {top: -100%;}
 // .headroom--pinned {top: 0;}

 #wide-menu, #centered-menu {
   display: flex;
   justify-content: space-between;
   list-style: none;
   margin: 0;
   height: $menuHeight;
   padding: 0;
   li a {
     text-decoration: none;
     letter-spacing: 0.1em;
     color:#FFFFFF;
     font-weight: 700;
   }
 }
//li.menu-item-has-children { position: relative; }


.sub-menu {
  background: tomato;
  visibility: hidden; /* hides sub-menu */
  opacity: 0;
  position: absolute;
  // top: 100%;
  display:flex;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

li.menu-item-has-children:focus .sub-menu,
li.menu-item-has-children:focus-within .sub-menu,
li.menu-item-has-children:hover .sub-menu {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  width:100%;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}

 #centered-menu {
   align-items: center;
   position: relative;
 }

 .custom-logo {
   filter:invert(100%);
 }
// /navigation

//hero
.hero-image {
  background: url('http://localhost:8888/sandbox/wp-content/uploads/2018/03/jake-davies-443335-unsplash.jpg');
  background-size: cover;
background-position: center;
width: 100wh;
height: 100vh;
display: flex;
  overflow: hidden;
  transition: all 0.7s ease;
}
.test-hero {
  position: relative;
  top:100vh;
}

@keyframes slidein {
  from {
    width: 3%
  }
    to {
      width: 100%;
    }
  }

  @keyframes reveal-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}

:root {
	--animation-delay: 2s;
	--duration: 800ms;
	--iterations: 1;
}
@keyframes revealer-text {

	0%, 50% {
		transform-origin: 0 50%;
	}

	60%, 100% {
		transform-origin: 100% 50%;
	}


	60% {
		transform: scaleX(1);
	}

	100% {
		transform: scaleX(0);
	}
}
.another, .another:after,
.cta-sihatatto p span,
.cta-sihatatto p span:after {
	animation-delay: var(--animation-delay);
	animation-iteration-count: var(--iterations);
	animation-duration: var(--duration);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}
%reveal {
  position: relative;
font-size: 5vw;
display: block;
user-select: none;
animation-name: reveal-text;
color: #FFF;
white-space: nowrap;
cursor: default;
}
@mixin p-el($el, $bg-maskColor, $anim-name, $ft-color, $ft-size) {
  @if $el == "before" or $el == "after" {
  //  @extend %reveal;
    position: relative;
  font-size: $ft-size;
  display: block;
  user-select: none;
  animation-name: reveal-text;
  color: $ft-color;
  white-space: nowrap;
  cursor: default;
    &:#{$el} {
      content: "";
  		position: absolute;
  		z-index: 999;
  		top: 0;
  		left: 0;
  		right: 0;
  		bottom: 0;
  		background-color: $bg-maskColor;
  		transform: scaleX(0);
  		transform-origin: 0 50%;
  		pointer-events: none;
  		animation-name: $anim-name;
    @content;
    }
  }
  @else {
    @warn "`#{$el}` is not a valid pseudo-element.";
  }
}
.another {
@include p-el(after,#FFF,revealer-text, #08F, 5vw) {}
}
.cta-sihatatto {
  // animation:slidein 2s;
  position: relative;
  font-size: 6em;
  color:#000000;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  p span {
  @include p-el(after,#FFF,revealer-text, #F8F, 5vw) {}
  }
  .since {
    font-style: italic;
  }
  .btn-cta {
    background: white;
    padding: 12px;
    p {

      padding: 0;
      margin: 0;
      font-weight: 700;
      text-transform: uppercase;
      color:black;
      font-size: 32px;
    }
  }
}
.barba-container {position: relative;}
///hero

// Hero ARTIST
.hero-artist {
  color:#FFFFFF;
  height: 60vh;
  display: flex;
  background: #000000;
  & > div {flex:2; display:flex;}
  .img-content {

  }
  .text-content {
    display: flex;
    justify-content: center;
    align-items: center;
    .text-centered {
      width: 80%;
    }
  }
}
/// Hero artist /
.custom-logo {
  transform: scale(1);
  transition: all .5s ease-in;
}
.headroom--not-top {
  position: fixed;
  top:0;
  left:0;
  max-height:150px;
  transition: all .5s ease-in-out;
  #site-navigation-centered {
  transition: all .5s ease-in-out;
    width:49%;
  }
  .custom-logo {
  transition: all .5s ease-in-out;
    transform:scale(.5);
  }
}
.gallery {
  width: 100%;
  height:50vh;
  background: red;
 }
// .gallery-item:nth-child(1) { width: 400px; }
.gallery-artist-siha {

}
.attachment-full {
  // width: 300px;
}
.gallery {
// height:50vh;
}
// .gallery img {
//   width: 100%;
//   transition: .8s opacity;
// }
// .gallery-item:nth-child(6n+3),
// .gallery-item:nth-child(6n+4){
//   max-width: 25%;
// }

// .gallery:hover img { opacity: 0.3; }
// .gallery:hover img:hover { opacity: 1; }

/* fallback for earlier versions of Firefox */

// @supports not (flex-wrap: wrap) {
//   .gallery { display: block; }
//   .gallery img {
//   display: inline-block;
//   vertical-align: top;
//   }
// }

.is-changing-page #content {
  position: absolute;
  left: -7px;
  right: -1px;
  bottom: -1px;
  top: -1px;
  content: "";
  background: #ffffff;
  -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
          transform-origin: top right;
  z-index: 4;
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;

}
