//--------------------------------------------------------------
// Typography
//--------------------------------------------------------------

////
/// @group variables
/// @author WebDevStudios
////

/// Define sans font.
$font-sans: 'Montserrat', sans-serif;

/// Define serif font.
$font-serif: Roboto, Georgia, Times, 'Times New Roman', serif;

/// Define monospace font.
$font-code: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;

/// Define pre font.
$font-pre: 'Courier 10 Pitch', Courier, monospace;

/// Define global line-height.
$line-height-body: 1.625;

/// Define line-height for `<pre>`.
$line-height-pre: $line-height-body;
